# Data processing

In [31]:
import pandas as pd
import re

df = pd.read_csv("../raw/convert_to_audio_data.csv")

In [32]:
df.head()

                                             text            intent
0             I'd love to hear this read out loud  convert_to_audio
1  Could you turn this script into an audio file?  convert_to_audio
2               Please make this sentence audible  convert_to_audio
3         Transform these lines into voice format  convert_to_audio
4                Produce an MP3 from this message  convert_to_audio

In [33]:
df.isnull().sum()

text      0
intent    0
dtype: int64

In [34]:
df.duplicated().sum()

np.int64(41)

In [35]:
df.drop_duplicates(inplace=True)

In [36]:
df.duplicated().sum()

np.int64(0)

In [37]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^a-zA-Z0-9\s]", "", text) 
    text = re.sub(r"\s+", " ", text).strip()   
    return text

df['text'] = df['text'].apply(clean_text)

In [38]:
df.shape

(1243, 2)

In [39]:
df.to_csv('convert_to_audio_preprocessed.csv')