# Data processing

In [11]:
import pandas as pd
import re

df = pd.read_csv("../raw/make_notes_data.csv")

In [12]:
df.head()

                                           text      intent
0                  Summarize these notes for me  make_notes
1             Please make notes from this image  make_notes
2  Can you extract notes from this handwriting?  make_notes
3            Convert this photo into neat notes  make_notes
4             Create study notes from this page  make_notes

In [13]:
df.isnull().sum()

text      0
intent    0
dtype: int64

In [14]:
df.duplicated().sum()

np.int64(944)

In [15]:
df.drop_duplicates(inplace=True)

In [16]:
df.duplicated().sum()

np.int64(0)

In [17]:
def clean_text(text):
    text = text.lower()
    text = re.sub(r"[^a-zA-Z0-9\s]", "", text) 
    text = re.sub(r"\s+", " ", text).strip()   
    return text

df['text'] = df['text'].apply(clean_text)

In [18]:
df.shape

(1157, 2)

In [19]:
df.to_csv('make_notes_preprocessed.csv')